<launch>

  <include file="$(find-pkg-share R1_undercarriage)/launch/example.launch"/>

  <include file="$(find-pkg-share robomas_second_plugins)/launch/robomas_second_bridge_launch.xml"/>

  <node pkg="shooter" exec="shoot_node" name="shoot_node">
  </node>

  <node pkg="roller" exec="roller_node" name="roller_node">
  </node>

  <node pkg="daikei_upper" exec="daikei_upper_node" name="daikei_upper_node">
  </node>

  <node pkg="r1_servo" exec="servo_node" name="servo_node">
  </node>

</launch>